body {
  background-color: #9437;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 10%;
 
}

.exp-header{
  background-color: #9436; 
  border: 2px solid;
  text-align: center;
  
}

h1{
  text-align: center; 
}

.footer{
  background-color: #9436;
  border: 2px solid;
  text-align: center
}

h5{
  padding-left: 10px;
}
